.profile {
  display: flex;
  margin-top: 20px;
}
.profile-wrapper {
  background-color: #a0c4e4;
}
.profile-info {
  margin-left: 25px;
}
.view-more {
  margin-right: 20px;
  font-style: italic;
}
.text-item {
  margin-left: 40%;
}
.title {
  color: #00b0f0;
  font-weight: 500;
  font-size: 20px;
  margin-left: 60px;
}
.icon-person-info {
  width: 70px;
  height: 70px;
  padding-top: 7px;
}